.navbar {
  background-color: white;
  color: black;
  font-family: 'Times New Roman';
  font-variant: small-caps;
  top: 0;
  left: 0;
}


.navbar-brand-left {
  top: 0; 
  left: 0;
  width: 3vw;
}


.navbar-brand-right{
  top: 0; 
  left: 50%;
}


body {
  background-color: black;
  color: white;
  font-family: 'Times New Roman';
  font-variant: small-caps;
  top: 0;
  left: 0;
}