.container video {
  height: auto;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}


 /* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  font-family: 'Times New Roman';
  font-variant: small-caps;
}

/* logo inside the navbar */
.navbar .logo {
  float: left;
  top: 0; 
  left: 0;
  width: 30vw;
}

/* Links inside the navbar */
.navbar .text {
  float: right;
  display: inline-block;
  text-decoration: none;
  top: 0; 
  width: 50vw;
  font-size: 4vw;
}


/* Links inside the navbar */
.navbar a {
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
  display: relative;
} 