body {
  background-color: black;
  color: white;
  top: 0;
  left: 0;
}

p {
  position: relative;
  font-family: 'Times New Roman';
  font-size: 2.8%;
}


h1 {
  position: relative;
  font-family: 'Times New Roman';
  font-variant: small-caps;
  font-size: 3.5%;
}


.email{
  color: white;
  font-family: 'Times New Roman';
  font-size: 6%;
  position: relative;
  top: 4%;
  float: left;
  padding: 1%;
  background-color: transparent;
  text-align: center;
}

.email:link{
  color: white;
  font-family: 'Times New Roman';
  font-size: 6%;
  position: relative;
  top: 4%;
  float: left;
  padding: 1%;
  background-color: transparent;
  text-align: center;
}

.email:visited{
  color: white;
  font-family: 'Times New Roman';
  font-size: 6%;
  position: relative;
  top: 4%;
  float: left;
  padding: 1%;
  background-color: transparent;
  text-align: center;
}

.email:hover{
  color: white;
  font-family: 'Times New Roman';
  font-size: 6%;
  position: relative;
  top: 4%;
  float: left;
  padding: 1%;
  background-color: transparent;
  text-align: center;
}

.email:active{
  color: white;
  font-family: 'Times New Roman';
  font-size: 6%;
  position: relative;
  top: 4%;
  float: left;
  padding: 1%;
  background-color: transparent;
  text-align: center;
}

.navbar {
  background-color: white;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  font-family: 'Times New Roman';
  font-variant: small-caps;
  position: sticky;
}

.left-nav {
  justify-content: flex-start;
  display: flex;
  float: left;
  top: 0; 
  left: 0;
  width: 45%;
}

.right-nav {
  justify-content: flex-start;
  display: inline-block;
  float: right;
  top: 0; 
  text-align: center;
  width: 45%;
  font-size: 4rem;
}

.navbar a {
  color: black;
  font-family: 'Times New Roman';
  font-variant: small-caps;
  text-decoration: none;
  margin-right: 1;
  margin-left: 1;
  margin-top: .5;
  margin-bottom: .5;
}

.navbar .left-nav:hover {
  background: black;
  color: white;
}

.navbar a:hover {
  background: black;
  color: white;
}

video {
  max-width: 100%;
  height: auto;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column2 {
  position: relative;
  top: 4%;
  float: left;
  width: 50%;
  background-color: transparent;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column3 {
  position: relative;
  top: 4%;
  float: left;
  width: 30%;
  height: auto;
  padding: 1%;
  background-color: transparent;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column4 {
  position: relative;
  top: 4%;
  float: left;
  width: 22%;
  padding: 1%;
  background-color: transparent;
}


.footer {
  display: block;
  max-width: 10;
  height: auto;
  position: relative;
  bottom: 1000;
}

.footer img {
  max-width: 7.5rem;
  padding: .5rem;
  align-items: center;
  justify-content: space-between;
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column11 {
  float: left;
  width: 3%;
  max-width: 3%;
  padding: 3%;
  background-color: transparent;
}


iframe {
  display: block;
  height: 100%;
  width: 100%;
}


.paragraph{
  color: white;
  font-family: 'Times New Roman';
  font-size: 80rem;
  background-color: transparent;
  text-align: left;
}