body {
  background-color: black;
  color: white;
  font-family: 'Times New Roman';
  font-variant: small-caps;
  top: 0;
  left: 0;
}


.navbar {
  background-color: white;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  font-family: 'Times New Roman';
  font-variant: small-caps;
  position: sticky;
}


.footer {
  display: block;
  max-width: 10;
  height: auto;
  position: relative;
  bottom: 1000;
}

.footer img {
  max-width: 7.5rem;
  padding: .5rem;
  align-items: center;
  justify-content: space-between;
}




iframe {
  display: block;
  height: 100%;
  width: 100%;
}



.social-footer {
  padding: 1rem;
  background: #8a8a8a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}

